:root {
  --primary-bg-color: #FAE100;
  --primary-font-color: #000;

  --menu-bg-color: #F9F9FA;
  --menu-icon-color: #2F363E;
  --menu-font-color: #191919;

  --chat-bg-color: #ABC1D1;

  --subtitle-font-color: rgba(0, 0, 0, 0.5);

  --default-padding: 25px;
  --default-border: 1px solid rgba(0, 0, 0, 0.3);
}