.friends-display-link {
  display: block;
  color: var(--menu-font-color);
  text-align: center;
  padding: 10px 0px;
  background-color: #FAFAFA;
  cursor: pointer;

  margin-top: -15px;
  margin-bottom: 15px;
}

.friends-display-link i {
  margin: 0px 5px;
  color: #D5D5D5;
}

.friends-screen__channel {
  margin-top: 25px;
  padding-top: 15px;
  border-top: var(--default-border);
}

.friends-screen__channel-header {
  margin-bottom: 30px;
  color: var(--subtitle-font-color);
  display: flex;
  justify-content: space-between;
}

.splash-screen {
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-bg-color);
  font-size: 5rem;
  color: #3C1E1E;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;

  animation: hideAnimation 0.3s ease-out forwards;
  animation-delay: 1s;
}

@keyframes hideAnimation {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    visibility: hidden;
  }
}