.menu-header {
  padding: var(--default-padding);
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: var(--menu-font-color);
}

.menu-header__title {
  font-size: 2rem;
  font-weight: 600;
}

.menu-header__icons>span {
  margin-left: 20px;
}

.menu-header-alt {
  padding: var(--default-padding);
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-header-alt__title {
  font-size: 1.5rem;
  font-weight: 600;
}

.menu-header-alt__column {
  width: 33%;
  display: flex;
  align-items: center;
}

.menu-header-alt__column:first-child {
  margin-right: auto;
}

.menu-header-alt__column:nth-child(2) {
  justify-content: center;
}

.menu-header-alt__column:last-child {
  margin-left: auto;
  justify-content: flex-end;
}

.menu-header-alt__column:last-child i {
  margin-left: 20px;
}