.user-component {
  display: flex;
  justify-content: space-between;
}

.user-component__column {
  display: flex;
  align-items: center;
}

.user-component__column:last-child {
  color: var(--subtitle-font-color);
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.user-component__profile {
  width: 75px;
  height: 75px;
  border-radius: 30%;
  margin-right: var(--default-padding);
}

.user-component__profile--xl {
  width: 85px;
  height: 85px;
}

.user-component__profile--xs {
  width: 65px;
  height: 65px;
}

.user-component__name {
  font-size: 1.25rem;
  font-weight: 600;
}

.user-component__name--regular {
  font-weight: 400;
}

.user-component__status {
  margin-top: 8px;
  color: var(--subtitle-font-color);
}

.user-component__time {
  margin-bottom: 10px;
}